<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <staticContent>
            <!-- Revalidate static responses so SEO file publications become visible promptly. -->
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-XSS-Protection" value="1; mode=block" />
            </customHeaders>
        </httpProtocol>
        <urlCompression doStaticCompression="true" doDynamicCompression="true" />
        <caching enabled="false" enableKernelCache="false" />
        <directoryBrowse enabled="false" />
        <security>
            <requestFiltering>
                <fileExtensions><add fileExtension=".tmp" allowed="false" /></fileExtensions>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
